.container3 {
    padding-top: 70px;
    padding-bottom: 100px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}