footer {
    width: 100%;
    padding: 18px 20px;
    background-color: #1a1e23;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #68c3a3;
}